* { box-sizing: border-box; }

body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#viewport {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#0d1b2a, #030712);
}

#game-scale {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transform-origin: center;
}

#game {
  width: 1919px;
  height: 1151px;
  position: relative;
  overflow: hidden;
}

#world {
  position: absolute;
  width: 100%;
  height: 20000px;
}

#ground {
  position: absolute;
  bottom: 0;
  width: 5500px;
  height: 120px;
  background: linear-gradient( #19f604,#6b4306);
}

.cloud {
  position: absolute;
  width: 220px;
  height: 80px;
  background: white;
  border-radius: 50px;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 50%;
}

.cloud::before {
  width: 100px;
  height: 100px;
  left: 20px;
  top: -40px;
}

.cloud::after {
  width: 120px;
  height: 120px;
  right: 20px;
  top: -60px;
}

#jet-placeholder {
  position: absolute;
  top: 2.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100px;
  background: linear-gradient(135deg, #d5bebe, #9e9e9e);
  border-radius: 30px;
  z-index: 9;
  pointer-events: none;
}


#player {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 100px;
  pointer-events: none;
}


#sprite {
  position: absolute;
  inset: -20px;
  background: url('aujla.png') no-repeat center/contain;
  transform-origin: center;
  pointer-events: none;
}



